<form [formGroup]="bandForm" (ngSubmit)="saveBand()">

<h2 mat-dialog-title>Créer/editer ce groupe</h2>
<mat-dialog-content>
    <div>
      <div class="flex-space-around">
        <mat-form-field>
          <label>Nom</label>
          <input matInput placeholder="Nom" required formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <label>Origine</label>
          <input matInput placeholder="Origine" formControlName="origin">
        </mat-form-field>

        <mat-form-field>
          <label>Ville</label>
          <input matInput placeholder="Ville" required formControlName="city">
        </mat-form-field>

        <mat-form-field>
          <label>Début</label>
          <input matInput type="number" step="1" placeholder="Début" required formControlName="startYear">
        </mat-form-field>
      </div>
      <div class="flex-space-around">
        <mat-form-field>
          <label>Séparation</label>
          <input matInput type="number" step="1" placeholder="Séparation" formControlName="endYear">
        </mat-form-field>

        <mat-form-field>
          <label>Fondateurs</label>
          <input matInput placeholder="Fondateurs" formControlName="foundingMembers">
        </mat-form-field>

        <mat-form-field>
          <label>Membres</label>
          <input matInput placeholder="Membres" formControlName="membersCount">
        </mat-form-field>

        <mat-form-field>
          <label>Courant musical</label>
          <input matInput placeholder="Courant musical" formControlName="trend">
        </mat-form-field>
      </div>
      <div  class="flex-space-around">
        <mat-form-field style="flex-grow: 3">
          <label>Description</label>
          <textarea
            matInput
            placeholder="Description"
            required
            formControlName="summary"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: center">
  <button mat-raised-button color="warn" mat-dialog-close>
    Annuler
  </button>
  <button mat-raised-button color="primary" type="submit">
    <mat-icon>save</mat-icon>
    Enregistrer
  </button>
</mat-dialog-actions>
</form>
